#chart rect {
  fill: rgb(210, 122, 122);
}

#chart text {
  fill: black;
  font: 14px sans-serif;
}

#chart text .major {
	text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}