---
# Home styles 
---
@import 'sass_vars';

/************************

  Home Page  

*************************/
#body-wrapper { 
	margin: 0; 
}

.current-icon {
	width: 70%; 
}

#current-projects {
	background-color: rgba(122, 182, 102, 0.57); 
	margin-bottom: 0; 
}




#current-projects,
#featured-post, 
#featured-project {
	text-align: center;  
}

.current-text {
	padding: 7% 5% 0; 
	text-align: left; 
}

.current-text > p:first-child {
	font-size: 40px; 
	font-style: italic;
}

#featured-post > div > p:first-child {
	font-size: 40px; 
	font-style: italic; 
	margin-top: 50px; 
}

#featured-post h2 {
	font-size: 60px; 
	margin-bottom: 40px; 
}

#featured-post > div > p:last-child {
	font-size: 30px;  
	margin: 0 auto 50px; 
	max-width: 600px; 
}

#featured-project > div > p:first-child {
	color: $primary;
	font-size: 25px; 
}

.jumbotron {
	background: rgb(255, 255, 255); 
}