---
layout: default
title: Welcome
css: p/home.css
javascript:
---	
{% for post in site.posts limit:1 %}
	{% if post.featured %}
	<div class="pattern {{ post.background }}"></div> 
	<div class="jumbotron {{ post.background }}" id="featured-post">
		<script>
			var linkElement = document.createElement("link");
			linkElement.rel = "stylesheet";
			linkElement.href = "{{ site.baseurl }}/assets/css/b/{{ post.background }}.css";
			document.head.appendChild(linkElement);
		</script>		
		<div class="container">
			<p>Featured post</p> 
			{% assign featuredcount = featuredcount | plus:'1' %}
			<a href="{{ post.url }}" /><h2>{{ post.title }}</h2></a>
			<p>{{ post.excerpt }}</p>				
		</div>
	</div> 	
	{% endif %}
{% endfor %} 
<div class="jumbotron" id="recent-work">
	<div class="container">
		<p>Recent Work</p>
		<div class="row">	
		{% for p in site.pages %}
			{% if p.tags contains "project" %}
			<div class="col-md-4 project">
				<a href="{{ p.url }}"><div>
					{% if p.tags contains "python" %}
						<img alt="python icon" src="/assets/img/python.svg">
					{% else %}
						<img alt="code icon" src="/assets/img/code.svg">
					{% endif %}
					<h3>{{ p.title }}</h3>
				</div></a>
			</div>	
			{% endif %}
		{% endfor %}	
		</div>
	</div>
</div>
<div class="jumbotron" id="current-projects">
	<div class="container">
		<div class="row"> 
			<div class="col-md-4 col-md-offset-1 current-text"> 
				<h3>Course Cluster</h3>
				<div> 
					<p>I am currently creating a <a href="http://bl.ocks.org/mbostock/7882658">D3 cluster force layout</a> from academic course information. It is still work in progress but <a href="/projects/course-cluster/">feel free to check it out</a>.</p>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1 current-text">
				<h3>Hire Me</h3>
				<p>If you like any of my work or are looking to collaborate on a project, please contact me via Twitter</p>
				<a class="btn btn-primary btn-lg" href="https://twitter.com/tomhohenstein" role="button">Contact</a>
			</div>
		</div>
	</div> 
</div>