---
layout: default
title: Welcome
css: p/home.css
javascript: l/carousel.swipe.js
---	

{% for post in site.posts limit:1 %}
	{% if post.featured %}
	<div class="pattern {{ post.background }}"></div> 
	<div class="jumbotron {{ post.background }}" id="featured-post">
		<script>
			var linkElement = document.createElement("link");
			linkElement.rel = "stylesheet";
			linkElement.href = "{{ site.baseurl }}/assets/css/b/{{ post.background }}.css";
			document.head.appendChild(linkElement);
		</script>		
		<div class="container">
			<p>Featured post</p> 
			{% assign featuredcount = featuredcount | plus:'1' %}
			<a href="{{ post.url }}" /><h2>{{ post.title }}</h2></a>
			<p>{{ post.excerpt }}</p>				
		</div>
	</div> 	
	{% endif %}
{% endfor %}
 
<div class="jumbotron" id="featured-project">
	<div class="container">
		<p>Recent Work</p> 
		<h2>Coming soon... </h2> 
	</div> 
</div>
<div class="jumbotron" id="current-projects">
	<div class="container">
		<div class="row"> 
			<div class="col-md-5 col-md-offset-1 current-text">
				<p>Current Project</p> 
				<h2>Course Cluster</h2>
				<div> 
					<p>My goal is to create a D3 cluster force layout from academic course infomration</p>
					<a class="btn btn-primary btn-lg" href="http://bl.ocks.org/mbostock/7882658" role="button">Example</a>
					<a class="btn btn-default btn-lg" href="/projects/course-cluster/" role="button">Status</a>
				</div>

			</div>
			<div class="col-md-6">
				<img alt="An anvil icon" class="current-icon" src="{{ site.baseurl }}/assets/img/anvil.svg">
			</div>
		</div>
	</div> 
</div>