<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>{{site.name}}</title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ site.url }}/assets/images/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/favicon.svg" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/bootstrap.min.css" /> 
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css" /> 
  {% for css in page.css %}
   <link href="{{ site.baseurl }}/assets/css/{{ css }}" rel="stylesheet">
  {% endfor %}

</head>
<body>
