---
# Blog list styles
---
@import 'sass_vars'; 

.blog-list {
	padding: 0 0 10px 20px; 
}

.blog-wrapper {
	margin-top: 150px; 
}

.blog-wrapper h1 {
	text-align: center; 
}

.caption {
	@media (min-width: $break-s) {
		margin-left: 175px; 
	}
}

.caption .btn-lg {
	font-size: $font-size+2px; 
	padding: 10px 16px 10px 16px; 
}

.date-holder {
	display: none; 
	@media (min-width: $break-s) {
		border-radius: 5px; 
		display: inline-block; 
		float: left; 
		margin: 0px 15px 0 0;  
		text-align: center; 
		width: 150px; 
	}	
}