---
# Fundation styles 
---
@import 'sass_vars';

/************************

  Typography

*************************/ 
a, 
a:hover {
	color: $text-p; 
}

a, 
ul,
li,  
p,
span {
	font-size: $font-size; 
}

h1, 
h2, 
h3,
h4, 
h5, 
a, 
ul,
li,  
p,
span {
	color: $text-p; 
}

pre,
code {
	color: $text-p; 
	background-color: #D5FFE7; 
	font-size: $font-size - 2; 
}

/************************

  Body  

	w/sticky footer 

*************************/ 
article {
	max-width: 700px; 
}

#body-wrapper {
	min-height: 100%;
} 

.container {
	width: 100%; 
}

footer {
	background-color: $background-b; 
	clear:both; 
	height: 200px; 
	padding: 50px 0; 
}

footer > div {
	text-align: center; 
}

footer .footer-icon {
	margin: 0 2%; 
}

html, 
body {
	height: 100%; 
}

.pattern {
	height: 140px; 
}

.social-share {
	float:right; 
}

/************************

  Navigation  

*************************/ 

#brand-holder {
	display: inline-block;
	float: none;
	margin: 0 0;
	padding: 16px 10px 40px 10px;
}

.custom-navbar-link {
 	color: $text-p; 
}

.navbar-default {
	background-color: $background-l; 
	border-bottom: 3px solid $background-b;
}

.navbar-default .navbar-brand {
	border-radius: 0 0 60px 60px;
	float: none; 
	margin: 0 25px;
	padding: 15px 40px 40px 40px;
}

.navbar-default .navbar-brand:hover {
	background-color: $background-l;
}

.navbar-header {
    float: left;
    padding: 0 0 15px 15px;
    width: 100%; 
}

.navbar-header ul {
	display: inline-block;
	list-style: none;
	margin-bottom: 0; 
	float: right;
	padding: 10px 10px 0 0; 
}

.navbar-header ul li {
	padding: 5px 0; 
}

/* fix some bootstap styles to match */ 
@media (min-width: $break-s) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
 		margin-left: 25px;
	}
}