---
# Fundation styles 
---
@import 'sass_vars';

/************************

  Typography

*************************/ 
a {
	color: $link;
} 
a:hover {
	color: $text-p; 
}
a:visited {
	color: $link-visited;
}

a, 
ul,
li,  
p,
span {
	font-size: $font-size; 
}

h1, 
h2, 
h3,
h4, 
h5,  
ul,
li,  
p,
span {
	color: $text-p; 
}

pre,
code, 
pre > code,
pre code  {
	color: $text-p; 
	background-color: #D5FFE7; 
	font-size: $font-size - 2; 
	overflow-wrap: normal;
	word-wrap: normal;
	white-space: pre;
}

/************************

  Body  

	w/sticky footer 

*************************/ 
article {
	max-width: 700px; 
}

#body-wrapper {
	margin: $nav-margin auto 0; 
	min-height: 100%;
} 

.container {
	width: 100%; 
}

footer {
	background-color: $background-b; 
	clear:both; 
	height: 200px; 
	padding: 50px 0; 
}

footer > div {
	text-align: center; 
}

footer .footer-icon {
	margin: 0 2%; 
}

html, 
body {
	height: 100%; 
}

.social-share {
	float:right; 
	margin: 10px; 
}

/************************

  Navigation  

*************************/ 

#brand-holder {
	display: inline-block;
	float: none;
	margin: 0 0;
	padding: 16px 10px 20px 10px;
}

.custom-navbar-link {
 	color: $text-p; 
}

#hamburger {
	clear: both;
	float: right; 
}

#hamburger ul {
	display: inline-block;
	list-style: none;
	margin-bottom: 0; 
	float: right;
	padding: 10px 10px 0 0; 
}

#hamburger ul li {
	text-align: right; 
}

.hide {
	display: none; 
}

.navbar-default {
	background-color: $background-l; 
	border-bottom: 3px solid $background-b;
}

.navbar-default .navbar-toggle {
	border-color: $background-b; 
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $background-b; 
}

#brand-holder .navbar-brand {
	border-radius: 0 0 60px 60px;
	color: $text-p; 
	float: none; 
	font-size: 35px; 
	margin: 0 25px;
	padding: 15px 40px 40px 40px;
}

.navbar-header {
    float: left;
    width: 100%; 
}

.navbar-header .navbar-toggle {
	margin-right: 0; 
}

/* fix some bootstap styles to match */ 
@media (min-width: $break-s) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
 		margin-left: 25px;
	}
}

.demo {
	margin: 0 0 15px 0; 
	text-align: center; 
}

.btn a, 
.btn-lg a {
	a:visited: #fff; 
}
