/************************

  For Projects 

*************************/ 
#my-projects,
#my-projects + p {
	text-align:center; 
}

.jumbotron {
	background-color: white; 
}

.project {
	margin: 10px 0; 
}

.project a:visited {
	color: $text-p; 
}

.project div {
	border: 1px solid $background-b; 
	border-radius: 3px; 
	margin: 3px 0; 
	padding: 15px; 
}

.project div:hover {
	background-color: $background-b; 
}

.project h3 {
	margin-top: 10px; 
	overflow-x: hidden;
	white-space: nowrap;
}

.project img {
	float: left; 
	margin: 0 4% 0 0; 
	max-width: 50px; 
}