/************************

  My Variables 

*************************/ 

/*** 
	Break Points 
***/ 
	$break-xs: 768px; 
	$break-s: 768px; 
	$break-m: 992px; 
	$break-l: 1200px; 

/*** 
	Colors 
***/ 
	$background-d: rgba(101, 101, 107, .5); 
	$background-l: rgba(255, 255, 255, .9); 
	$background-w: rgb(255, 255, 255); 
	$background-b: rgb(185, 223, 224); 
	$primary: rgb(0,0,0); 
	$accent: rgb(195, 119, 65); 

/***
	Text
***/ 	
	$text-p: rgb(68, 68, 68);
	$text-w: rgb(255, 255, 255); 
	$font-size: 20px; 

/***
	Margins
***/

	$nav-margin: 80px; 