---
layout: default
---

<article class="post col-sm-8 col-sm-offset-2">
	<h1>{{ page.title }}</h1>
	<div class="entry">
		{{ content }}
	</div>
  	<div class="social-share">
	  	<span>Share:</span>
	  	<a href="https://twitter.com/share?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=tomhohenstein"><img alt="..." class="footer-icon" src="{{ site.baseurl }}/assets/img/footer-icons/Twitter_logo_blue.png"></a>
	  	<a href="https://plus.google.com/share?url=http://tomhohenstein.com{{ page.url }}&hl=en-US" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img alt="..." class="footer-icon" src="{{ site.baseurl }}/assets/img/social-icons/btn_white.png"></a>
	  	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.title }}&summary="><img alt="..." class="footer-icon" src="{{ site.baseurl }}/assets/img/footer-icons/LinkedIn-InBug-2CRev.png"></a>
	  	<a href="https://www.facebook.com/dialog/share?app_id=946372735391329&display=popup&href={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}"><img alt="..." class="footer-icon" src="{{ site.baseurl }}/assets/img/social-icons/FB-f-Logo__blue_50.png">
	</div> 
</article>